body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jfif");
  background-size: cover;
}

#head_title {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
}

a {
  color: #00B7FF;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  top: 0;
}

.select {
  width: 100px; /* 设置搜索框的宽度 */
  height: 30px; /* 设置搜索框的高度 */
  border: 1px solid #ccc; /* 设置搜索框边框样式 */
  border-radius: 5px; /* 设置搜索框边框的圆角 */
  padding: 5px; /* 设置搜索框内边距 */
  font-size: 14px; /* 设置字体大小 */
}

/* 鼠标悬停时改变搜索框边框颜色 */
.select:hover {
  border-color: #999;
}

/* 选中状态下改变搜索框边框颜色 */
.select:focus {
  border-color: #555;
  outline: none; /* 去掉选中状态下的默认外发光效果 */
}

ul {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 0;
}

li {
  text-align: center;
}

li a {
  margin: 0 5px;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

li a:hover {
  background-color: #555;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input[type="text"] {
  height: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* 设置搜索框边框样式 */
  border-radius: 5px; /* 设置搜索框边框的圆角 */
  padding: 5px; /* 设置搜索框内边距 */
  font-size: 14px; /* 设置字体大小 */
}

input[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #45a049;
}

input[type="button"]:active {
  background-color: #3e8e41;
}

.search .order{
  height: 100px;
  font-size: 100px;
}

#news {
  font-family: "Times New Roman", serif ;
  width: 100%;
  border-collapse: collapse;
}

#news td, #news th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
  height: 40px;
}

#news th {
  font-size: 1.1em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #A7C942;
  color: #ffffff;
}

#news tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}

.button_container button {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_container button:hover {
  background-color: #23527c;
}

.button_container button:active {
  background-color: #1c4768;
}

.picture {
  display: flex;
  /*实现垂直居中*/
  align-items: center;
  /*实现水平居中*/
  justify-content: center;

  text-align: justify;
  width:1000px;
  height:500px;
  margin:0 auto;
}
